#listing_container {
  border: 1px solid;
  width: 292px;
  border-radius: 15px;
  height: 372px;
  border-color: #d7d7d7;
  display: flex;
  font-size: 12px;
  flex-direction: column;
  padding-bottom: 50px;
}

#image_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding: 10px 0;

  align-items: center;
}

#listing_img {
  width: 260px;
  height: 265px;
}

#listing_img:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.listing_details,
.listing_details2 {
  display: flex;
  justify-content: space-between !important;
  font-size: 4px !important;
  color: #434343;
  padding: 0 8px;
  gap: 5px;
}

#per-night {
  font-weight: bold;
}

#rating {
  width: 92px;
  height: 12px;
  padding: 0 18px;
}
