#modal_window {
  position: absolute;
  width: 600px;
  height: 347px;
  border-radius: 16px;
  background-color: #fff;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  /* left: 0; */
}

#connect-wallet {
  height: 58px;
  display: flex;
  justify-content: space-between;
  padding: 24px 32px;
  align-items: center;
}

#cancel_btn {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.coin-background {
  background-color: #f8f9fa;
  width: 536px;
  height: 68px;
  border: 1px solid #cfd8dc;
  border-radius: 12px;
  display: flex;
  /* margin: 10px; */
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

#choose_crypto {
  margin-left: 5%;
}

.more_icon {
  width: 8.55px;
  height: 15px;
  position: absolute;
  right: 5%;
  top: 40%;
}

.coin-icon {
  width: 44px;
  height: 44px;
  position: absolute;
  left: 5%;
  top: 20%;
}

.coin {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  position: absolute;
  left: 15%;
  top: 20%;
  /* line-height: 23px; */
}

.overlay {
  /* background-color: green; */
  background: rgba(64, 64, 64, 0.3);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
  padding-bottom: 5%;
  margin-top: -7%;
}

@media only screen and (max-width: 600px) {
  #modal_window {
    position: absolute;
    margin-top: 40%;
    margin-left: 3vw;
    margin-right: 10vw;
    width: 350px;
    height: 247px;
    border-radius: 16px;
    background-color: #fff;
  }
  .coin-background {
    width: 300px;
    height: 40px;
  }
  #connect-wallet {
    height: 38px;
    display: flex;
    padding: 14px 12px;
  }
  .coin-icon {
    width: 24px;
    height: 24px;
  }
  .coin {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    position: absolute;
    left: 18%;
    top: 5%;
    /* line-height: 23px; */
  }
}
