nav {
  /* width: 1240px; */
  width: 80%;
  height: 48px;
  display: flex;
  align-self: baseline;
  align-items: space-between;
  justify-content: space-between;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 25px;
}

nav ul {
  display: flex;
  /* justify-content: space-between; */
  list-style: none;
  gap: 2rem;
  cursor: pointer;
}

.link:link {
  text-decoration: none;
  color: #000;
}

.link:visited {
  text-decoration: none;
  color: #000;
}

.link:hover {
  text-decoration: none;
  color: #000;
}

.link:active {
  text-decoration: none;
  color: #000;
}

.logo_icon {
  height: 32.19px;
  cursor: pointer;
}

.connect_btn {
  cursor: pointer;
  width: 170px;
  height: 48px;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  border-radius: 10px;
  color: white;
  border: none;
  font-family: "Red Rose", sans-serif;
}

#hamburger-menu {
  position: absolute;
  font-size: 30px;
  color: black;
  right: 8%;
  display: none;
}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: none;
  }
  #hamburger-menu {
    display: block;
  }
  /* #mobile_menu_view {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding-top: 80px;
    position: absolute;
    background-color: white;
    left: 0;
  } */
  .connect_btn {
    display: none;
  }
}
