nav {
  /* width: 1240px; */
  width: 80%;
  height: 48px;
  display: flex;
  align-self: baseline;
  align-items: space-between;
  justify-content: space-between;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 25px;
}

nav ul {
  display: flex;
  /* justify-content: space-between; */
  list-style: none;
  gap: 2rem;
  cursor: pointer;
}

.link:link {
  text-decoration: none;
  color: #000;
}

.link:visited {
  text-decoration: none;
  color: #000;
}

.link:hover {
  text-decoration: none;
  color: #000;
}

.link:active {
  text-decoration: none;
  color: #000;
}

.logo_icon {
  height: 32.19px;
  cursor: pointer;
}

.connect_btn {
  cursor: pointer;
  width: 170px;
  height: 48px;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  border-radius: 10px;
  color: white;
  border: none;
  font-family: "Red Rose", sans-serif;
}

#hamburger-menu {
  position: absolute;
  font-size: 30px;
  color: black;
  right: 8%;
  display: none;
}

#cancel-menu_btn {
  display: none;
  font-size: 40px;
  right: 8%;
  position: absolute;
  z-index: 5;
  transition: 0.5s;
}

/* For Mobile */
@media only screen and (max-width: 600px) {
  body {
    overflow-x: none;
  }
  nav ul {
    display: none;
  }
  #hamburger-menu {
    display: block;
  }

  /* #cancel-menu_btn {
    display: block;
  } */
  .show_cancel_btn {
    display: block !important;
  }

  .show {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding-top: 80px;
    position: absolute;
    background-color: white;
    right: 0;
    text-align: center;
    position: fixed;
    margin-top: -5%;
  }
  .connect_btn {
    position: absolute;
    bottom: 50%;
    left: 27%;

    visibility: hidden;
  }
  .show_connect_btn {
    display: block !important;
    visibility: visible !important;
  }
}

/* For Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    width: 90%;
  }
  nav ul li {
    /* width: 0px; */
    font-size: 12px;
  }

  #logo_icon {
    height: 10.19px !important;
    cursor: pointer;
    margin-left: -8%;
  }
}
